@import "../../../styles/variables/colors.scss";

.course-upcoming{
	border: 2px solid $green;
}
.course-fresh{
	border: 2px solid $blue;
}
.course-top-rated{
	background: url("../../../../../src/assets/img/star.png")  right no-repeat #f7f7f7;
}



