<div class="authors-area">
	<div *ngFor="let author of authorsList">
		<label [for]="author.id">{{author.name}}</label>
		<input [id]="author.id" name="authors" class="form-control"
			   [checked]="checkCoursesAuthors(authors, author.id )"

				(change)="toggleAuthor.emit({author: author, $event: $event})"
			   type="checkbox"
			   value="{{author.id}}">
	</div>
	<!--	<div *ngIf="!authors.valid && authors.hasError('authorsRequired')"
             class="error">At least one author is required.
        </div>-->
	<!-- (change)="onChange($event)"-->
</div>
