<div class="authors-area">
	<!--<div *ngFor="let author of authorsList">
		<label [for]="author.id">{{author.name}}</label>
		<input [id]="author.id" name="authors" class="form-control"
			   [checked]="checkCoursesAuthors(authors, author.id )"
			   (change)="onChange($event)"
			   type="checkbox"
			   value="{{author.id}}">
	</div>-->

	<ul>
		<li *ngFor="let author of authors; let i = index">
			<label>
				{{author.surname}}
				<input
					type="checkbox"
					[checked]="isChecked(author)"
					(change)="toggleAuthor.emit({author: author, $event: $event})"
					>
			</label>
		</li>
	</ul>
    <pre>
      {{ chosenAuthors | json }}
    </pre>


	<!--	<div *ngIf="!authors.valid && authors.hasError('authorsRequired')"
             class="error">At least one author is required.
        </div>-->
</div>
