<div class="authors-area">
	<div *ngFor="let author of authorsList">
		<label [for]="author.id">{{author.lastName}} {{author.firstName}} </label>
		<input [id]="author.id" name="authors" class="form-control"
			   [checked]="checkCoursesAuthors(authors, author.id )"
			   (change)="onChange($event)"
			   type="checkbox"
			   value="{{author.id}}">
	</div>

	<div *ngIf="!parent.get('authors').valid && parent.get('authors').hasError('authorsRequired')"
             class="error">At least one author is required.
        </div>
</div>
