<div class="toolbox">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-md-6">
				<input type="text" class="form-control" [(ngModel)]='textToFind'  />

			</div>
			<div class="col-xs-3 col-md-3">
				<button (click)="findCourse()" class="btn btn-primary">Find course</button>
			</div>
			<div class="col-xs-3 col-md-3">				<div  >
				<div *ngIf="isAuth">
					<button class="btn btn-success" [routerLink]="['/courses/','new']">Add course</button>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
